#home{
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #0000;
}

footer p a {
    margin: 5px 15px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}